# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.*

# Logs
logs
*.log

# Development files
.vscode
.idea
*.md
docker-compose.yml

# Build artifacts
dist
build
coverage